# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
*.sqlite3
db.sqlite3

# Flask
instance/
*.log

# macOS / Linux / Windows
.DS_Store
Thumbs.db

# Virtual Environments
venv/
.venv/
ENV/

# VSCode / JetBrains
.vscode/
.idea/

# Node/npm (если используешь для фронта)
node_modules/
dist/
build/

# Frontend cache/output
*.cache
*.bak
*.swp
*.tmp

# Coverage/test reports
htmlcov/
.coverage
.tox/
.pytest_cache/
